{% extends 'mainsite/base.html' %} {% load static %} {% block css2 %}
<style>
  #home::before {
    background: url("{%static 'images/bg1.jpg' %}") no-repeat center
      center/cover;
  }
  #client-section::before {
    background: url("{%static 'images/bg.jpg' %}");
  }

  #contact::before {
    background: url("{%static 'images/contact.jpg' %}") no-repeat center
      center/cover;
  }
</style>
{% endblock css2 %} {% block body %}
<section id="home">
  <h1 class="h-primary">Welcome to MyOnlineMeal</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis
    dolorum numquam minus.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
  <button class="btn">
    <a class="orderNow" href="order.html">Order Now</a>
  </button>
</section>

<section id="services-container">
  <h1 class="h-primary center">Our Services</h1>
  <div id="services">
    <div class="box" id="box1">
      <img src="{%static 'images/1.png' %}" alt="" />
      <h2 class="h-secondary center">Food Catering</h2>
      <p class="center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa
        suscipit error Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Et qui, repudiandae similique nam, recusandae quidem ab asperiores ex,
        aut fugit labore veritatis facere? sint delectus ab dolorum nam. Debitis
        facere, incidunt voluptates eos, mollitia voluptatem iste sunt voluptas
        beatae facilis labore, omnis sint quae eum.
      </p>
    </div>
    <div class="box" id="box2">
      <img src="{%static 'images/2.png' %}" alt="" />
      <h2 class="h-secondary center">Bulk Ordering</h2>
      <p class="center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa
        suscipit error Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Unde laudantium a incidunt animi ad, ab dignissimos vero? Unde numquam
        odit repudiandae perferendis nisi. sint delectus ab dolorum nam. Debitis
        facere, incidunt voluptates eos, mollitia voluptatem iste sunt voluptas
        beatae facilis labore, omnis sint quae eum.
      </p>
    </div>
    <div class="box" id="box3">
      <img src="{%static 'images/3.png' %}" alt="" />
      <h2 class="h-secondary center">Food Ordering</h2>
      <p class="center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa
        suscipit error Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus provident fugiat aliquam minima at explicabo. Earum
        eveniet quaerat, sunt molestias nesciunt quas! Quis. sint delectus ab
        dolorum nam. Debitis facere, incidunt voluptates eos, mollitia
        voluptatem iste sunt voluptas beatae facilis labore, omnis sint quae
        eum.
      </p>
    </div>
  </div>
</section>
<section id="client-section">
  <h1 class="h-primary center">Our Clients</h1>
  <div id="clients">
    <div class="client-item">
      <img src="{%static 'images/logo1.png' %}" alt="Our Client" />
    </div>
    <div class="client-item">
      <img src="{%static 'images/logo2.png' %}" alt="Our Client" />
    </div>

    <div class="client-item">
      <img src="{%static 'images/logo4.png' %}" alt="Our Client" />
    </div>
    <div class="client-item">
      <img src="{%static 'images/logo3.png' %}" alt="Our Client" />
    </div>
  </div>
</section>

<section id="contact">
  <h1 class="h-primary center">Contact Us</h1>
  <div id="contact-box">
    <form action="">
      <div class="form-group">
        <label for="fname">Name: </label>
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter your name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone Number: </label>
        <input
          type="phone"
          name="phone"
          id="phone"
          placeholder="Enter your phone"
        />
      </div>
      <div class="form-group">
        <label for="message">Message: </label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
      </div>
    </form>
  </div>
</section>

{%endblock body%}
